.head-banner {
    width: 70vw;
    height: 50vh;
    border-radius: 10px;
    fill-opacity: 0;
    margin-bottom: 1cm;
}

@media (max-width: 1000px) {
    html{padding: 70px 30px; height: 100%;};
    body, #app, #app>div {
        height: 100%
    }
}